@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .scrollbar::-webkit-scrollbar {
            @apply h-4 w-2;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            @apply rounded-lg bg-gray-300;
        }

        .scrollbar::-webkit-scrollbar-track {
            @apply bg-gray-50;
        }
    }
}

:root {
    --primary-color: #e36414;
    --secondary-color: #1d5868;
    --white-color: #ffffff;
    --gray-color: #e0e0e0;
    --black-color: #000000;
}

.leaflet-top.leaflet-left {
    z-index: 998;
}

.grid_product {
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 320px);
    gap: 60px;
}

.MuiAutocomplete-input {
    padding: 0 !important;
}

.MuiAutocomplete-inputRoot {
    overflow-x: hidden;
    overflow: auto;
    width: 100%;
    height: 40px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.MuiAutocomplete-inputRoot::-webkit-scrollbar {
    display: none;
}

.MuiAutocomplete-inputRoot:focus {
    border: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
