@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #e36414;
    --secondary-color: #1d5868;
    --white-color: #ffffff;
    --gray-color: #e0e0e0;
    --black-color: #000000;
}

body {
    @apply overflow-hidden;
}
