@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #e36414;
    --secondary-color: #1d5868;
    --white-color: #ffffff;
    --gray-color: #e0e0e0;
    --black-color: #000000;
}

.grid_product {
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 320px);
    gap: 60px;
}

.MuiAutocomplete-inputRoot {
    /* flex-wrap: nowrap !important; */
    overflow-x: hidden;
    overflow: auto;
    width: 100%;
    height: 40px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.MuiAutocomplete-inputRoot::-webkit-scrollbar {
    /* flex-wrap: nowrap !important; */
    display: none;
}

.MuiAutocomplete-inputRoot:focus {
    border: none;
}
.scrollbar-hide::-webkit-scrollbar {
    /* display: none; */
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
